In [2]:
import pandas as pd

# Existing DataFrame
df = pd.DataFrame({'Name': ['John', 'Emily'],
                   'Age': [25, 30]})

# New data to append
new_data = pd.DataFrame({'Name': ['Mark', 'Jessica'],
                         'Age': [35, 28]})

# Append new data to the existing DataFrame
df = pd.concat([df, new_data], ignore_index=True)

# Display the updated DataFrame
df

      Name  Age
0     John   25
1    Emily   30
2     Mark   35
3  Jessica   28

In [3]:
df_1 = pd.DataFrame()
df_1 = pd.concat([df_1, df], ignore_index=True)
df_1

      Name  Age
0     John   25
1    Emily   30
2     Mark   35
3  Jessica   28